pydantic
langchain
python-dotenv
langchain-openai
langchain-groq
langchain-core
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain_ollama
langchain_huggingface
langchain_google_genai
faiss-cpu
sentence-transformers
scikit-learn
langchain-pinecone
wikipedia
youtube_search
langgraph
chromadb
duckduckgo-search
yfinance
pyowm
streamlit
matplotlib
httpx
requests

-e .